<div class="page-title">
  <div class="title-env">
    <h1 class="title">Property Details</h1>
    <p class="description">
      View/Edit/Delete property details
    </p>
  </div>
  <div class="breadcrumb-env add-new-agenda-wrapper">
    <button class="btn btn-primary btn-icon" ng-click="goBack()">
      <i class="fa fa-arrow-left"></i>
      <span>&nbsp;Go Back</span>
    </button>
    <!-- <button class="btn btn-red btn-icon" xng-click="openDeleteModal()">
  <i class="fa-trash"></i>
  <span>&nbsp;Delete User</span>
</button>
 -->
    <!-- <button ui-password-link-modal scope="scope" type="button" ng-class="{'disabled':loading}" class="btn btn-info btn-icon pull-right mr10 ml0" xng-click="openChangePasswordModal('lg')">
            <i class="fa fa-key"></i> Change Password
        </button> -->
  </div>
</div>
<div class="page-content overflow-reset" ng-init="loadProperty()">
  <form role="form" class="form-horizontal" name="property" ui-form="editProperty">
    <div class="panel panel-default mb0">
      <div class="panel-heading">
        <h3 class="panel-title">Details</h3>
        <div class="panel-options">
          <button ng-hide="mode" type="button" class="btn btn-info btn-single pull-right mr10 ml0" ng-click="mode=1">
            <i class="fa fa-pencil"></i> Edit Property
          </button>
        </div>
      </div>
      <div class="panel-body">
        <div class="user-profile">
          <img ng-src="./resources/images/property_thumbnail.png" width="80" height="80" class="img-circle img-corona" alt="user-pic">
          <span class="user-name"><strong>{{item.propertyName}}</strong></span>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label" for="billingType">Billing Type</label>
          <div class="col-sm-9">
            <input ng-disabled="!mode" ng-class="{'error':item.billingType.$invalid && item.billingType.$dirty}" type="text" class="form-control input-dark" name="billingType" id="billingType" placeholder="Enter Billing Type" data-ng-model="item.billingType" ui-required>
            <label ng-show="mode && item.billingType.$invalid && item.billingType.$dirty" id="username-error" class="error-label" for="username">Please Enter a Billing Type</label>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label" for="describe">Description</label>
          <div class="col-sm-9">
            <input ng-disabled="!mode" ng-class="{'error':item.describe.$invalid && item.describe.$dirty}" type="text" class="form-control input-dark" name="describe" id="describe" placeholder="Enter Description" data-ng-model="item.describe" ui-required>
            <label ng-show="mode && item.describe.$invalid && item.describe.$dirty" id="username-error" class="error-label" for="username">Please Enter a Description</label>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label" for="floorLevel">Floor Level</label>
          <div class="col-sm-9">
            <input ng-disabled="!mode" ng-class="{'error':item.floorLevel.$invalid && item.floorLevel.$dirty}" type="text" class="form-control input-dark" name="floorLevel" id="floorLevel" placeholder="Enter Floor Level" data-ng-model="item.floorLevel" ui-required>
            <label ng-show="mode && item.floorLevel.$invalid && item.floorLevel.$dirty" id="username-error" class="error-label" for="username">Please Enter a Floor Level</label>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label" for="noOfBedRooms">No. of Bed Rooms</label>
          <div class="col-sm-9">
            <input ng-disabled="!mode" ng-class="{'error':item.noOfBedRooms.$invalid && item.noOfBedRooms.$dirty}" type="text" class="form-control input-dark" name="noOfBedRooms" id="noOfBedRooms" placeholder="Enter No. of Bed Rooms" data-ng-model="item.noOfBedRooms" ui-required>
            <label ng-show="mode && item.noOfBedRooms.$invalid && item.noOfBedRooms.$dirty" id="username-error" class="error-label" for="username">Please Enter a No. of Bed Rooms</label>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label" for="other">Others</label>
          <div class="col-sm-9">
            <input ng-disabled="!mode" ng-class="{'error':item.other.$invalid && item.other.$dirty}" type="text" class="form-control input-dark" name="other" id="other" placeholder="Enter Others" data-ng-model="item.other" ui-required>
            <label ng-show="mode && item.other.$invalid && item.other.$dirty" id="username-error" class="error-label" for="username">Please Enter a Others</label>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label" for="propertyType">Property Type</label>
          <div class="col-sm-9">
            <input ng-disabled="!mode" ng-class="{'error':item.propertyType.$invalid && item.propertyType.$dirty}" type="text" class="form-control input-dark" name="propertyType" id="propertyType" placeholder="Enter Property Type" data-ng-model="item.propertyType" ui-required>
            <label ng-show="mode && item.propertyType.$invalid && item.propertyType.$dirty" id="username-error" class="error-label" for="username">Please Enter a Property Type</label>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label" for="sequenceNo">Sequence No.</label>
          <div class="col-sm-9">
            <input ng-disabled="!mode" ng-class="{'error':item.sequenceNo.$invalid && item.sequenceNo.$dirty}" type="text" class="form-control input-dark" name="sequenceNo" id="sequenceNo" placeholder="Enter Sequence No." data-ng-model="item.sequenceNo" ui-required>
            <label ng-show="mode && item.sequenceNo.$invalid && item.sequenceNo.$dirty" id="username-error" class="error-label" for="username">Please Enter a Sequence No.</label>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label" for="serviceTime">Service Time</label>
          <div class="col-sm-9">
            <input ng-disabled="!mode" ng-class="{'error':item.serviceTime.$invalid && item.serviceTime.$dirty}" type="text" class="form-control input-dark" name="serviceTime" id="serviceTime" placeholder="Enter Service Time" data-ng-model="item.serviceTime" ui-required>
            <label ng-show="mode && item.serviceTime.$invalid && item.serviceTime.$dirty" id="username-error" class="error-label" for="username">Please Enter a Service Time</label>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label" for="serviceType">Service Type</label>
          <div class="col-sm-9">
            <input ng-disabled="!mode" ng-class="{'error':item.serviceType.$invalid && item.serviceType.$dirty}" type="text" class="form-control input-dark" name="serviceType" id="serviceType" placeholder="Enter Service Type" data-ng-model="item.serviceType" ui-required>
            <label ng-show="mode && item.serviceType.$invalid && item.serviceType.$dirty" id="username-error" class="error-label" for="username">Please Enter a Service Type</label>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label" for="status">Status</label>
          <div class="col-sm-9">
            <input ng-disabled="!mode" ng-class="{'error':item.status.$invalid && item.status.$dirty}" type="text" class="form-control input-dark" name="status" id="status" placeholder="Enter Status" data-ng-model="item.status" ui-required>
            <label ng-show="mode && item.status.$invalid && item.status.$dirty" id="username-error" class="error-label" for="username">Please Enter a Status</label>
          </div>
        </div>
        <div class="form-group" ng-show="mode">
          <button type="submit" ng-class="{'disabled':loading}" class="btn btn-info btn-single pull-right mr10 ml0">
            <i ng-show="loading" class='fa fa-spin fa-spinner btn-loading-icon mr10'></i>Save
          </button>
          <button ng-show="mode" type="reset" ng-class="{'disabled':loading}" class="btn btn-single pull-right mr10 ml0" xng-click="resetForm()">
            Reset
          </button>
        </div>
      </div>
    </div>
    <div class="form-group-separator"></div>
    <div class="panel panel-default mb0" ng-hide="mode">
      <div class="panel-heading">
        <h3 class="panel-title">Unit's Details</h3>
        <!-- <div class="panel-options">
          <button ng-hide="mode" type="button" ng-class="{'disabled':loading}" class="btn btn-info btn-single pull-right mr10 ml0">
            <i class="fa fa-plus"></i> Add Service
          </button>
        </div> -->
      </div>
      <div class="panel-body">
        <div ng-show="!item.units.length" class="nothing-found nothing-found-white">No Units found.</div>
        <div class="col-sm-6" ng-repeat="unit in item.units">
          <div class="panel panel-inverted">
            <div class="panel-heading panel-heading-properties">
              <!-- <img ng-src="./resources/images/property_thumbnail.png" width="20" height="20" class="property-avatar pull-left img-circle img-corona" alt="user-pic">
 -->
              <h3 class="panel-title">Unit No. - {{unit.unitNo}}</h3>
              <!--  <div class="panel-options">
                <a href="" ng-click="goToPropertyManagement(property)">
                  <i class="fa fa-pencil"></i>
                </a>
                <a href="" ng-click="removeProperty(property)">
                  <i class="fa fa-trash"></i>
                </a>
              </div> -->
            </div>
            <div class="panel-body panel-properties">
              <div class="row" xng-if="unit.access">
                <div class="col-sm-6 property"><strong>Access</strong></div>
                <div class="col-sm-6">{{unit.access}}</div>
              </div>
              <div class="row" xng-if="unit.billingType">
                <div class="col-sm-6 property"><strong>Billing Type</strong></div>
                <div class="col-sm-6">{{unit.billingType}}</div>
              </div>
              <div class="row" xng-if="unit.noOfBedRooms">
                <div class="col-sm-6 property"><strong>No. of Bed Rooms</strong></div>
                <div class="col-sm-6">{{unit.noOfBedRooms}}</div>
              </div>
              <div class="row" xng-if="unit.floorLevel">
                <div class="col-sm-6 property"><strong>Floor Level</strong></div>
                <div class="col-sm-6">{{unit.floorLevel}}</div>
              </div>
              <div class="row" xng-if="unit.serviceTime">
                <div class="col-sm-6 property"><strong>Service Time</strong></div>
                <div class="col-sm-6">{{unit.serviceTime}}</div>
              </div>
              <div class="row" xng-if="unit.serviceType">
                <div class="col-sm-6 property"><strong>Service Type</strong></div>
                <div class="col-sm-6">{{unit.serviceType}}</div>
              </div>
              <div class="row" xng-if="unit.status">
                <div class="col-sm-6 property"><strong>Status</strong></div>
                <div class="col-sm-6">{{unit.status}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
