<div class="user-list">
  <div class="page-title">
    <div class="title-env">
      <h1 class="title">User List</h1>
      <p class="description">
        View/Edit User from the list of Users
      </p>
    </div>
  </div>
  <div class="row search-box">
    <div class="col col-sm-offset-6">
      <form class="form-horizontal" ng-submit="searchUser()">
        <div class="form-group">
          <label class="col-sm-4 control-label">Email</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="search" data-ng-model="searchText.value" placeholder="Press Enter to Search by Email" ng-keyup="searchUserForNull()">
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="page-content overflow-reset" ng-init="loadUsers()">
    <div ng-show="!users.length && !pageLoading" class="nothing-found">No users found.</div>
    <table ng-show="users.length" class="table table-hover table-bordered user-table">
      <thead class="table-title">
        <th class="sorting" ng-class="{'sorting-asc':isAsc===true,'sorting-desc':isAsc===false}" xng-click="sort()">Name</th>
        <th>Email</th>
        <th>Mobile Phone</th>
        <th>Office Phone</th>
        <th>Action</th>
      </thead>
      <tbody class="table-content">
        <tr ng-repeat="user in filtered= ( users | filter:xsearchText) | startFrom:currentPage*pageSize | limitTo:pageSize" class="table-row">
          <td>{{user.firstName}} {{user.lastName}}</td>
          <td>{{user.email}}</td>
          <td>{{user.mobilePhone}}</td>
          <td>{{user.officePhone}}</td>
          <td class="view-icon"><i class="fa fa-eye" ng-click="viewUser(user)"></i></td>
        </tr>
      </tbody>
    </table>
    <div class="pull-right">
      <button class="btn btn-default btn-info" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
        Previous
      </button>
      <button class="btn btn-default btn-info" ng-disabled="currentPage >= filtered.length/pageSize - 1" ng-click="currentPage=currentPage+1">
        Next
      </button>
    </div>
  </div>
</div>
