<div class="page-title">
  <div class="title-env">
    <h1 class="title">User Details</h1>
    <p class="description">
      View/Edit/Delete user details
    </p>
  </div>
  <div class="breadcrumb-env add-new-agenda-wrapper">
    <!-- <button class="btn btn-red btn-icon" xng-click="openDeleteModal()">
  <i class="fa-trash"></i>
  <span>&nbsp;Delete User</span>
</button>
 -->
    <button class="btn btn-primary btn-icon" ng-click="goBack()">
      <i class="fa fa-arrow-left"></i>
      <span>&nbsp;Go Back</span>
    </button>
    <button ui-password-link-modal scope="scope" type="button" ng-class="{'disabled':loading}" class="btn btn-info btn-icon pull-right mr10 ml0" xng-click="openChangePasswordModal('lg')">
      <i class="fa fa-key"></i> Change Password
    </button>
  </div>
</div>
<div class="page-content overflow-reset" ng-init="loadUser()">
  <form role="form" class="form-horizontal" name="user" ui-form="editUser">
    <div class="panel panel-default mb0">
      <div class="panel-heading">
        <h3 class="panel-title">Details</h3>
        <div class="panel-options">
          <button ng-hide="mode" type="button" class="btn btn-info btn-single pull-right mr10 ml0" ng-click="mode=1">
            <i class="fa fa-pencil"></i> Edit User
          </button>
        </div>
      </div>
      <div class="panel-body">
        <div class="user-profile" xng-if="user.profilePicture">
          <img ng-src="{{user.profilePicture || defaultProfilePicture}} " width="80" height="80" class="img-circle img-corona" alt="user-pic">
          <span class="user-name"><strong>{{user.name}}</strong></span>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label" for="email">Email</label>
          <div class="col-sm-9">
            <input ng-disabled="true" ng-class="{'error':user.email.$invalid && user.email.$dirty}" type="text" class="form-control input-dark" name="email" id="email" placeholder="Enter Email" data-ng-model="user.email" ui-required ui-email>
            <label ng-show="mode && user.email.$invalid && user.email.$dirty" id="username-error" class="error-label" for="username">Please Enter a valid Email</label>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label" for="firstName">First Name</label>
          <div class="col-sm-9">
            <input ng-disabled="!mode" ng-class="{'error':user.firstName.$invalid && user.firstName.$dirty}" type="text" class="form-control input-dark" name="firstName" id="firstName" placeholder="Enter Name" data-ng-model="user.firstName" ui-required>
            <label ng-show="mode && user.firstName.$invalid && user.firstName.$dirty" id="username-error" class="error-label" for="username">Please Enter First Name</label>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label" for="lastName">Last Name</label>
          <div class="col-sm-9">
            <input ng-disabled="!mode" ng-class="{'error':user.lastName.$invalid && user.lastName.$dirty}" type="text" class="form-control input-dark" name="lastName" id="lastName" placeholder="Enter Name" data-ng-model="user.lastName" ui-required>
            <label ng-show="mode && user.lastName.$invalid && user.lastName.$dirty" id="username-error" class="error-label" for="username">Please Enter Last Name</label>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label" for="mobilePhnNumber">Mobile Phone Number</label>
          <div class="col-sm-9">
            <input ng-disabled="!mode" ng-class="{'error':user.mobilephone.$invalid && user.mobilephone.$dirty}" type="text" class="form-control input-dark" name="mobilephone" id="mobilephone" placeholder="Enter Mobile Phone Number" data-ng-model="user.mobilePhone" ui-required ui-mask='(999)-999-9999'>
            <label ng-show="mode && user.mobilephone.$invalid && user.mobilephone.$dirty" id="username-error" class="error-label" for="username">Please Enter a valid Mobile number</label>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label" for="officePhnNumber">Office Phone Number</label>
          <div class="col-sm-9">
            <input ng-disabled="!mode" ng-class="{'error':user.officephone.$invalid && user.officephone.$dirty}" type="text" class="form-control input-dark" name="officephone" id="officephone" placeholder="Enter Office Phone Number" data-ng-model="user.officePhone" ui-required ui-mask='(999)-999-9999'>
            <label ng-show="mode && user.officephone.$invalid && user.phone.$dirty" id="username-error" class="error-label" for="username">Please Enter a valid Office phone number</label>
          </div>
        </div>
        <div class="form-group" ng-show="mode">
          <button type="submit" ng-class="{'disabled':loading}" class="btn btn-info btn-single pull-right mr10 ml0">
            <i ng-show="loading" class='fa fa-spin fa-spinner btn-loading-icon mr10'></i>Save
          </button>
          <button ng-show="mode" type="reset" ng-class="{'disabled':loading}" class="btn btn-single pull-right mr10 ml0" xng-click="resetForm()">
            Reset
          </button>
        </div>
      </div>
    </div>
    <div class="form-group-separator"></div>
    <div class="panel panel-default mb0" ng-hide="mode">
      <div class="panel-heading">
        <h3 class="panel-title">Properties Details</h3>
      </div>
      <div class="panel-body">
        <div ng-show="!user.properties.length" class="nothing-found nothing-found-white">No Properties found.</div>
        <div class="col-sm-6" ng-repeat="property in user.properties">
          <div class="panel panel-inverted">
            <div class="panel-heading panel-heading-properties">
              <img ng-src="./resources/images/property_thumbnail.png" width="20" height="20" class="property-avatar pull-left img-circle img-corona" alt="user-pic">
              <h3 class="panel-title">{{property.propertyName}} - {{property.units.length}} Units</h3>
              <div class="panel-options">
                <a href="" ng-click="goToPropertyManagement(property)">
                  <i class="fa fa-pencil"></i>
                </a>
                <a href="" ng-click="removeProperty(property)">
                  <i class="fa fa-trash"></i>
                </a>
              </div>
            </div>
            <div class="panel-body panel-properties">
              <div class="row">
                <div class="col-sm-12">
                  <div>{{property.address.description}}</div>
                </div>
              </div>
              <br/>
              <div class="row" xng-if="property.billingType">
                <div class="col-sm-6 property"><strong>Billing Type</strong></div>
                <div class="col-sm-6">{{property.billingType}}</div>
              </div>
              <div class="row" xng-if="property.describe">
                <div class="col-sm-6 property"><strong>Description</strong></div>
                <div class="col-sm-6">{{property.describe}}</div>
              </div>
              <div class="row" xng-if="property.floorLevel">
                <div class="col-sm-6 property"><strong>Floor Level</strong></div>
                <div class="col-sm-6">{{property.floorLevel}}</div>
              </div>
              <div class="row" xng-if="property.noOfBedRooms">
                <div class="col-sm-6 property"><strong>No. of Bed Rooms</strong></div>
                <div class="col-sm-6">{{property.noOfBedRooms}}</div>
              </div>
              <div class="row" xng-if="property.other">
                <div class="col-sm-6 property"><strong>Others</strong></div>
                <div class="col-sm-6">{{property.other}}</div>
              </div>
              <div class="row" xng-if="property.propertyType">
                <div class="col-sm-6 property"><strong>Property Type</strong></div>
                <div class="col-sm-6">{{property.propertyType}}</div>
              </div>
              <div class="row" xng-if="property.sequenceNo">
                <div class="col-sm-6 property"><strong>Sequence No.</strong></div>
                <div class="col-sm-6">{{property.sequenceNo}}</div>
              </div>
              <div class="row" xng-if="property.serviceTime">
                <div class="col-sm-6 property"><strong>Service TIme</strong></div>
                <div class="col-sm-6">{{property.serviceTime}}</div>
              </div>
              <div class="row" xng-if="property.serviceType">
                <div class="col-sm-6 property"><strong>Service Type</strong></div>
                <div class="col-sm-6">{{property.serviceType}}</div>
              </div>
              <div class="row" xng-if="property.status">
                <div class="col-sm-6 property"><strong>Status</strong></div>
                <div class="col-sm-6">{{property.status}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
