<div class="login-container">
  <div class="row">
    <div class="col-sm-6">
      <div class="errors-container"> </div>
      <form role="form" id="login" class="login-form fade-in-effect in" novalidate="novalidate" name="loginform" ui-form="submitForm">
        <div class="login-header">
          <a href="#" class="logo">
            <h2 class="color-white">Jade's Jet City</h2>
          </a>
        </div>
        <div class="form-group">
          <input ng-class="{'error':loginform.email.$invalid && loginform.email.$dirty}" type="text" class="form-control input-dark" name="email" id="username" placeholder="Enter Email" ng-model="formData.email" ui-required ui-email>
          <label ng-show="loginform.email.$invalid && loginform.email.$dirty" id="username-error" class="error" for="username">Please enter valid email.</label>
        </div>
        <div class="form-group">
          <button ng-class="{'disabled':loading}" type="submit" class="btn btn-dark btn-block text-left">
            <i ng-hide="loading" class="fa-lock"></i>
            <i ng-show="loading" class='fa fa-spin fa-spinner btn-loading-icon'></i> Reset password
          </button>
        </div>
        <div class="login-footer">
          <a href="#/login">
            <i class="fa fa-long-arrow-left"></i> Back to login
          </a>
        </div>
      </form>
    </div>
  </div>
</div>
