<div class="page-container">
  <div class="sidebar-menu toggle-others fixed" ng-class="{collapsed: isCollapsed}">
    <div class="sidebar-menu-inner" scrollable>
      <header class="logo-env">
        <div class="logo">
          <a href="" class="logo-expanded">
            <div class="logo-text">Jade's Jet City</div>
          </a>
          <a ng-click="doToggleMenu()" data-toggle="sidebar" class="logo-collapsed color-white">
            <i class="fa-bars menu-btn"></i>
          </a>
        </div>
        <div class="logo pull-right">
          <a ng-click="doToggleMenu()" data-toggle="sidebar" class="hidden-xs logo-expanded color-white">
            <i class="fa-bars menu-btn"></i>
          </a>
        </div>
        <div class="mobile-menu-toggle visible-xs">
          <a ng-click="toggleMobileMenu()" data-toggle="mobile-menu">
            <i class="fa-bars"></i>
          </a>
        </div>
      </header>
      <section class="sidebar-user-info" ng-class="{'mobile-is-visible':showMobileMenu}">
        <div class="sidebar-user-info-inner">
          <a href="#" class="user-profile">
            <img src="http://files.parsetfss.com/3c31a68b-97c9-46f6-872e-02e75e73a53a/tfss-b86fafbb-fb67-4848-94b6-d28f44fc05ac-default_avatar.png" width="60" height="60" class="img-circle img-corona" alt="user-pic" />
            <span>
                <strong>{{userData.name}}</strong>
                <!-- <span class="role">{{userData.formattedUsertype}}</span> -->
            </span>
          </a>
          <ul class="user-links list-unstyled">
            <li ng-class="getActiveClass('dashboard.editprofile')">
              <a ng-click="resetMobileMenu(dashboard.editprofile)" title="Edit profile" ui-sref="dashboard.editprofile">
                <i class="fa fa-pencil"></i>
                <span>Edit profile</span>
                <!-- <span ng-show="userData.usertype === 'vendor'">View profile</span> -->
              </a>
            </li>
            <li>
              <ui-logout-modal scope="scope">
                <a class="show-pointer" title="Log out">
                  <i ng-hide="loading" class="fa-power-off"></i>
                  <i ng-show="loading" class='fa fa-spin fa-spinner btn-loading-icon'></i> Logout
                </a>
              </ui-logout-modal>
            </li>
          </ul>
        </div>
      </section>
      <ul id="main-menu" class="main-menu" ng-class="{'mobile-is-visible':showMobileMenu}">
        <li ng-class="getActiveClass('dashboard.userManagement')">
          <a ng-click="resetMobileMenu('dashboard.userManagement')" ui-sref="dashboard.userManagement">
            <i class="fa fa-users"></i>
            <span class="title">User Accounts</span>
          </a>
        </li>
        <li ng-class="getActiveClass('dashboard.orders')">
          <a ng-click="resetMobileMenu('dashboard.orders')" ui-sref="dashboard.orders">
            <i class="fa fa-shopping-cart"></i>
            <span class="title">Orders</span>
          </a>
        </li>
        <li ng-class="getActiveClass('dashboard.serviceManagement')">
          <a ng-click="resetMobileMenu('dashboard.serviceManagement')" ui-sref="dashboard.serviceManagement">
            <i class="fa fa-shopping-cart"></i>
            <span class="title">Service</span>
          </a>
        </li>
         <li ng-class="getActiveClass('dashboard.productManagement')">
          <a ng-click="resetMobileMenu('dashboard.productManagement')" ui-sref="dashboard.productManagement">
            <i class="fa fa-shopping-cart"></i>
            <span class="title">Product</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="main-content">
    <ui-view class="content-template"></ui-view>
    <footer class="main-footer sticky footer-type-1">
      <div class="footer-inner">
        <!-- Add your copyright text here -->
        <div class="footer-text">
          &copy;&nbsp;
          <span>2016</span>
          <strong>Jade's Jet City</strong> by
          <a href="" target="_blank">www.vendor-apps.com</a>
        </div>
      </div>
    </footer>
  </div>
</div>
