<div class="login-container">
  <div class="row">
    <div class="col-sm-6">
      <div class="errors-container"> </div>
      <form role="form" id="login" class="login-form fade-in-effect in" novalidate="novalidate" name="loginform" ui-form="submitForm">
        <div class="login-header">
          <a href="#" class="logo">
            <h2 class="color-white">Jade's Jet City</h2>
          </a>
          <p>Dear user, log in to access the admin area!</p>
        </div>
        <div class="form-group">
          <input ng-class="{'error':loginform.email.$invalid && loginform.email.$dirty}" type="text" class="form-control input-dark" name="email" id="username" placeholder="Enter Email" ng-model="formData.email" ui-required ui-email>
          <label ng-show="loginform.email.$invalid && loginform.email.$dirty" id="username-error" class="error" for="username">Please enter valid email.</label>
        </div>
        <div class="form-group">
          <input ng-class="{'error':loginform.password.$invalid && loginform.password.$dirty}" type="password" class="form-control input-dark" name="password" ng-id="passwd" placeholder="Enter Password" ng-model="formData.password" ui-required>
          <label ng-show="loginform.password.$invalid && loginform.password.$dirty" id="passwd-error" class="error" for="password">Please enter your password.</label>
        </div>
        <div class="form-group">
          <button ng-class="{'disabled':loading}" type="submit" class="btn btn-dark btn-block text-left">
            <i class="fa-lock"></i> Log In
          </button>
        </div>
        <!-- <div class="login-footer">
  <a href="#/forgot-password">Forgot your password?</a>
</div>
 -->
      </form>
    </div>
  </div>
</div>
