<div class="page-title">
  <div class="title-env">
    <h1 class="title">Edit Orders</h1>
    <p class="description">
      View/Edit/Delete Order details
    </p>
  </div>
  <div class="breadcrumb-env add-new-agenda-wrapper" ng-if="order.status===1">
    <button class="btn btn-info btn-icon" ng-click="acceptOrder()">
      <i class="fa fa-check-circle"></i>
      <span>&nbsp;Accept Order</span>
    </button>
  </div>
  <div class="breadcrumb-env add-new-agenda-wrapper" ng-if="order.status === 3">
    <button class="btn btn-green btn-icon" ng-click="completeOrder()">
      <i class="fa fa-tag"></i>
      <span>&nbsp;Complete Order</span>
    </button>
  </div>
  <div class="breadcrumb-env add-new-agenda-wrapper" ng-if="order.status=== 1 || order.status === 3">
    <button class="btn btn-red btn-icon" ng-click="rejectOrder()">
      <i class="fa fa-ban"></i>
      <span>&nbsp;Reject Order</span>
    </button>
  </div>
  <div class="breadcrumb-env add-new-agenda-wrapper">
    <button class="btn btn-primary btn-icon" ng-click="goBack()">
      <i class="fa fa-arrow-left"></i>
      <span>&nbsp;Go Back</span>
    </button>
  </div>
</div>
<div class="page-content overflow-reset" ng-init="loadOrder()">
  <form role="form" class="form-horizontal" name="user" ui-form="editOrder">
    <div class="panel panel-default mb0">
      <div class="panel-heading">
        <h3 class="panel-title">Details</h3>
        <!-- <div class="panel-options">
  <button ng-hide="mode" type="button" class="btn btn-info btn-single pull-right mr10 ml0" ng-click="mode=1">
    <i class="fa fa-pencil"></i> Edit Order
  </button>
</div>
 -->
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label class="col-sm-3 control-label" for="orderId">Order Id</label>
              <div class="col-sm-9">
                <input ng-disabled="true" ng-class="{'error':order.orderId.$invalid && order.orderId.$dirty}" type="text" class="form-control input-dark" name="orderId" id="orderId" placeholder="Enter orderId" data-ng-model="order.orderId" ui-required>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label" for="time">Order Date</label>
              <div class="col-sm-9">
                <input ng-disabled="!mode" ng-class="{'error':order.time.$invalid && order.time.$dirty}" type="text" class="form-control input-dark" datetime-picker="dd MMM yyyy" name="time" id="time" placeholder="Enter Name" data-ng-model="order.time" ui-required>
                <label ng-show="mode && order.time.$invalid && order.time.$dirty" id="username-error" class="error-label" for="username">Please Enter Order Date</label>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label" for="status">Order Status</label>
              <div class="col-sm-9">
                <input ng-disabled="!mode" ng-class="{'error':order.status.$invalid && order.status.$dirty}" type="text" class="form-control input-dark" name="status" id="status" placeholder="Enter Order Status" data-ng-model="order.orderStatus" ui-required>
                <label ng-show="mode && order.status.$invalid && order.status.$dirty" id="username-error" class="error-label" for="username">Please Enter Order Status</label>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="panel panel-inverted">
              <div class="panel-heading panel-heading-properties">
                <h3 class="panel-title">{{order.property.propertyName}}, Unit - {{order.unit.unitNo}}</h3>
                <!-- <div class="panel-options">
  <a href="" ng-click="goToPropertyManagement(property)">
    <i class="fa fa-pencil"></i>
  </a>
  <a href="" ng-click="removeProperty(property)">
    <i class="fa fa-trash"></i>
  </a>
</div>
 -->
              </div>
              <div class="panel-body panel-properties">
                <div class="row">
                  <div class="col-sm-12">
                    <div>{{order.property.address.description}}</div>
                  </div>
                </div>
                <br/>
                <div class="row" xng-if="order.property.propertyType">
                  <div class="col-sm-6 property"><strong>Property Type</strong></div>
                  <div class="col-sm-6">{{order.property.propertyType}}</div>
                </div>
                <div class="row" xng-if="order.property.access">
                  <div class="col-sm-6 property"><strong>Access</strong></div>
                  <div class="col-sm-6">{{order.unit.access || order.property.access}}</div>
                </div>
                <div class="row" xng-if="order.property.billingType">
                  <div class="col-sm-6 property"><strong>Billing Type</strong></div>
                  <div class="col-sm-6">{{order.unit.billingType || order.property.billingType}}</div>
                </div>
                <!-- <div class="row" xng-if="order.property.describe">
  <div class="col-sm-6 property"><strong>Description</strong></div>
  <div class="col-sm-6">{{order.property.describe}}</div>
</div>
 -->
                <div class="row" xng-if="order.property.floorLevel">
                  <div class="col-sm-6 property"><strong>Floor Level</strong></div>
                  <div class="col-sm-6">{{order.unit.floorLevel || order.property.floorLevel}}</div>
                </div>
                <div class="row" xng-if="order.property.noOfBedRooms">
                  <div class="col-sm-6 property"><strong>No. of Bed Rooms</strong></div>
                  <div class="col-sm-6">{{order.unit.noOfBedRooms || order.property.noOfBedRooms}}</div>
                </div>
                <!--                 <div class="row" xng-if="order.property.sequenceNo">
                  <div class="col-sm-6 property"><strong>Sequence No.</strong></div>
                  <div class="col-sm-6">{{order.property.sequenceNo}}</div>
                </div> -->
                <div class="row" xng-if="order.property.serviceTime">
                  <div class="col-sm-6 property"><strong>Service TIme</strong></div>
                  <div class="col-sm-6">{{order.unit.serviceTime || order.unit.serviceTime}}</div>
                </div>
                <div class="row" xng-if="order.property.serviceType">
                  <div class="col-sm-6 property"><strong>Service Type</strong></div>
                  <div class="col-sm-6">{{order.unit.serviceType || order.unit.serviceType}}</div>
                </div>
                <!-- <div class="row" xng-if="order.property.other">
  <div class="col-sm-6 property"><strong>Others</strong></div>
  <div class="col-sm-6">{{order.property.other}}</div>
</div>
 -->
                <div class="row" xng-if="order.property.status">
                  <div class="col-sm-6 property"><strong>Status</strong></div>
                  <div class="col-sm-6">{{order.unit.status || order.property.status }}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group" ng-show="mode">
          <button type="submit" ng-class="{'disabled':loading}" class="btn btn-info btn-single pull-right mr10 ml0">
            <i ng-show="loading" class='fa fa-spin fa-spinner btn-loading-icon mr10'></i>Save
          </button>
          <button ng-show="mode" type="reset" ng-class="{'disabled':loading}" class="btn btn-single pull-right mr10 ml0" xng-click="resetForm()">
            Reset
          </button>
        </div>
      </div>
    </div>
    <div class="form-group-separator"></div>
    <div class="panel panel-default mb0" ng-hide="mode">
      <div class="panel-heading">
        <h3 class="panel-title">Services Details</h3>
      </div>
      <div class="panel-body">
        <div ng-show="!order.services.length" class="nothing-found nothing-found-white">No Services found.</div>
        <div class="col-sm-6" ng-repeat="service in order.services">
          <div class="panel panel-inverted">
            <div class="panel-heading panel-heading-properties">
              <h3 class="panel-title">{{service.service.name}} - {{service.products.length}} Products</h3>
              <!-- <div class="panel-options">
  <a href="" ng-click="goToPropertyManagement(service)">
    <i class="fa fa-pencil"></i>
  </a>
  <a href="" ng-click="removeProperty(service)">
    <i class="fa fa-trash"></i>
  </a>
</div>
 -->
            </div>
            <div class="panel-body panel-properties">
              <div class="row" ng-repeat="eachProduct in service.products">
                <div class="col-sm-9">
                  <div>{{eachProduct.product.name}}</div>
                </div>
                <div class="col-sm-3">
                  <div>{{eachProduct.option | getOptions:eachProduct.product.options}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
