<div class="order">
  <div class="page-title">
    <div class="title-env">
      <h1 class="title">Orders List</h1>
      <p class="description">
        View/Edit Orders from the list of Orders
      </p>
    </div>
  </div>
  <!-- <div class="row search-box">
  <div class="col col-sm-offset-4">
    <form class="form-horizontal" ng-submit="searchCreationDate()">
      <div class="form-group">
        <label class="col-sm-4 control-label">Creation Date</label>
        <div class="col-sm-8">
          <div class="input-group">
            <input type="text" class="form-control" name="firstPaymentDate" id="firstPaymentDate" uib-datepicker-popup="dd MMM yyyy" data-ng-model="searchText.creationDate" placeholder="Search by loan creation date" is-open="isOpenCreation" />
            <span class="input-group-addon">
                <i class="fa fa-calendar" ng-click="openCalendarCreation($event, prop)"></i></span>
          </div>
        </div>
    </form>
    </div>
  </div>
</div>
 -->
  <div class="row search-box">
    <div class="col col-sm-6">
      <div class="form-group">
        <label class="col-sm-4 control-label control-label-reset" for="status">Filter by Order Status</label>
        <div class="col-sm-8">
          <select ng-change="filterOrder()" class="form-control" name="status" id="status" data-ng-model="searchText.orderStatus" ui-required>
            <option value="1">Pending</option>
            <option value="2">Reject</option>
            <option value="3">Accept</option>
            <option value="4">Complete</option>
          </select>
          <label ng-show="loanform.status.$invalid && loanform.status.$dirty" id="status-error" class="error-label" for="status">Please Enter a Loan Status</label>
        </div>
      </div>
    </div>
    <div class="col col-sm-6">
      <form class="form-horizontal" ng-submit="searchOrder()">
        <div class="form-group">
          <label class="col-sm-4 control-label">Order Id</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="search" data-ng-model="searchText.value" placeholder="Press Enter to Search by Order ID" ng-keyup="searchUserForNull()">
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="page-content overflow-reset" ng-init="loadOrders()">
    <div ng-show="!orders.length && !pageLoading" class="nothing-found">No orders found.</div>
    <table ng-show="orders.length" class="table table-hover table-bordered partner-table">
      <thead class="table-title">
        <th>Order Id</th>
        <th>Order Date</th>
        <th>Order Description</th>
        <th>Action</th>
      </thead>
      <tbody class="table-content">
        <tr ng-repeat="item in filtered = (orders | filter:xsearchText) | startFrom:currentPage*pageSize | limitTo:pageSize" class="table-row" ng-click="editOrder(item)">
          <td>{{item.orderId}}</td>
          <td>{{item.time | date:'dd/MM/yyyy'}}</td>
          <td>{{item.totalServices}} Services - {{item.totalProducts}} Products</td>
          <td class="view-icon"><i class="fa fa-eye" ng-click="viewOrder(item)"></i></td>
        </tr>
      </tbody>
    </table>
    <div class="pull-right">
      <button class="btn btn-default btn-info" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
        Previous
      </button>
      <button class="btn btn-default btn-info" ng-disabled="currentPage >= orders.length/pageSize - 1" ng-click="currentPage=currentPage+1">
        Next
      </button>
    </div>
  </div>
</div>
