<div class="modal-header">
  <h3 class="modal-title">Manage Sequence</h3>
</div>
<div class="modal-body manage-sequence-modal">
  <ul ui-sortable="sortableOptions" ng-model="tmpList" class="list itemList clearfix" ng-class="{'floatingList':isHorizontal}">
    <span ng-repeat="item in tmpList" class="item white-text inflate"><span class="fa fa-arrows"></span><span class="sequence-text" ng-if="listType">{{item.title || item.tab ||item.name || item.service.name}}</span><span class="sequence-text" ng-if="!listType" ng-bind="item"></span></span>
  </ul>
</div>
<div class="modal-footer">
  <button class="btn btn-primary add-update-btn" type="submit" ng-click="saveSequence()">Save</button>
  <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
