<div class="modal-header">
  <h3 class="modal-title">Send a Change Password Link</h3>
</div>
<div class="modal-body text-center">
  Are you sure you want to send change password link to this user ?
</div>
<div class="modal-footer">
  <button class="btn btn-primary add-update-btn" ng-click="sendResetPasswordLink()">Confirm</button>
  <button class="btn btn-red" type="button" ng-click="cancel()">Cancel</button>
</div>
