.order {
  .search-box {
    margin: 0 0 10px 0;
    .control-label-reset {
      margin-top: 6px;
    }
  }
  .page-content {
    .partner-table {
      .view-icon {
        text-align: center;
      }
      td {
        .fa {
          font-size: 24px;
          color: $blue;
        }
      }
    }
  }
}
