.product-panel {
    div.panel-heading {
        border-bottom: 0px;
        padding-bottom: 0px;
    }
}

div.panel-heading {
    position: relative;
    i {
        position: absolute;
        right: 0;
    }
    i:hover {
        color: #0e62c7;
        transition: all 4ms linear;
        transform: scale(1.2);
    }
}

video {
    margin-top: 20px;
}

.service-blk,
.product-blk {
    button {
        position: absolute;
        right: 0px;
        top: -7px;
        margin-right: 0px;
    }
}
