.user-list {
  .search-box {
    margin: 0 0 10px 0;
  }
  .page-content {
    .user-table {
      .view-icon {
        text-align: center;
      }
      td {
        .fa {
          font-size: 24px;
          color: $blue;
        }
      }
    }
  }
}

.panel.panel-inverted {
  .panel-heading-properties {
    border-bottom-color: #979898;
  }
  .panel-properties {
    .row {
      margin: 5px 0;
      .property {
        text-align: right;
      }
      .col-sm-6 {
        strong {
          font-size: 14px;
        }
      }
    }
  }
}

.user-profile {
  margin-left: 20px;
  .user-name {
    margin-left: 20px;
    font-size: 20px;
    color: #555;
  }
}

.property-avatar {
  margin-right: 15px;
}
