<div class="page-title">
    <div class="title-env">
        <h1 class="title">Service Details</h1>
        <p class="description">
            View/Edit/Delete service details
        </p>
    </div>
    <div class="breadcrumb-env add-new-agenda-wrapper">
        <!-- <button class="btn btn-red btn-icon" xng-click="openLoanDeleteModal()">
            <i class="fa-trash"></i>
            <span>&nbsp;Remove Service</span>
        </button> -->
    </div>
</div>
<div class="page-content overflow-reset" ng-init="loadService()">
    <form role="form" class="form-horizontal" name="service" ui-form="editService">
        <div class="panel panel-default mb0">
            <div class="panel-heading">
                <h3 class="panel-title">Details</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="orderId">Service Id</label>
                            <div class="col-sm-9">
                                <input ng-disabled="true" ng-class="{'error':service.orderId.$invalid && service.orderId.$dirty}" type="text" class="form-control input-dark" name="orderId" id="orderId" placeholder="Enter orderId" data-ng-model="service._id" ui-required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="time">Service Name</label>
                            <div class="col-sm-9">
                                <input ng-disabled="!mode" ng-class="{'error':service.time.$invalid && service.time.$dirty}" type="text" class="form-control input-dark" datetime-picker="dd MMM yyyy" name="time" id="time" placeholder="Enter Name" data-ng-model="service.name" ui-required>
                                <label ng-show="mode && service.time.$invalid && service.time.$dirty" id="username-error" class="error-label" for="username">Please Enter Order Date</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="status">Service Description</label>
                            <div class="col-sm-9">
                                <input ng-disabled="!mode" ng-class="{'error':service.status.$invalid && service.status.$dirty}" type="text" class="form-control input-dark" name="status" id="status" placeholder="Enter Name" data-ng-model="service.description" ui-required>
                                <label ng-show="mode && service.status.$invalid && service.status.$dirty" id="username-error" class="error-label" for="username">Please Enter Order Status</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <img ng-src="{{service.coverPhoto}} " width="100%" height="200px" class="service-img img-corona" alt="service-pic">
                    </div>
                    <div class="col-sm-6 col-sm-offset-6">
                        <video width="450" height='200' controls>
                            <source ng-src="{{service.coverVideo}}" type="video/mp4">
                        </video>
                    </div>
                </div>
                <div class="form-group" ng-show="mode">
                    <button type="submit" ng-class="{'disabled':loading}" class="btn btn-info btn-single pull-right mr10 ml0">
                        <i ng-show="loading" class='fa fa-spin fa-spinner btn-loading-icon mr10'></i>Save
                    </button>
                    <button ng-show="mode" type="reset" ng-class="{'disabled':loading}" class="btn btn-single pull-right mr10 ml0" xng-click="resetForm()">
                        Reset
                    </button>
                </div>
            </div>
        </div>
        <div class="form-group-separator"></div>
        <div class="panel panel-default mb0" ng-if='service.children.length && !service.products'>
            <div class="panel-heading service-blk">
                <h3 class="panel-title">Child Service Details</h3>
                <button class="btn btn-default btn-info" ui-manage-sequence-modal list="service.children">Manage Sequence</button>
            </div>
            <div class="panel-body">
                <div ng-show="!service.children.length" class="nothing-found nothing-found-white">No Services found.</div>
                <div class="col-sm-6" ng-repeat="service in service.children">
                    <div class="panel panel-inverted">
                        <div class="panel-heading panel-heading-properties">
                            <h3 class="panel-title">{{service.service.name}}</h3>
                            <i class="fa fa-eye" ng-click="viewService(service)"></i>
                        </div>
                        <div class="panel-body panel-properties">
                            <div class="row">
                                <label class="col-sm-4">Description</label>
                                <div class="col-sm-8">{{service.service.description}}</div>
                            </div>
                            <div class="row">
                                <label class="col-sm-4">Promoted</label>
                                <div class="col-sm-8" ng-bind="{{service.service.isPromoted}}"></div>
                            </div>
                            <div class="row">
                                <label class="col-sm-4">Custom Clean</label>
                                <div class="col-sm-8" ng-bind="{{service.service.isCustomClean}}"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default mb0" ng-if='!service.children.length && service.products'>
            <div class="panel-heading product-blk">
                <h3 class="panel-title">Product Details</h3>
                <button class="btn btn-default btn-info" class="btn btn-default btn-info" ui-manage-sequence-modal list="service.products">Manage Sequence</button>
            </div>
            <div class="panel-body">
                <div ng-show="!service.products.length" class="nothing-found nothing-found-white">No Services found.</div>
                <div class="col-sm-6 product-panel" ng-repeat="product in service.products">
                    <div class="panel panel-inverted">
                        <div class="panel-heading panel-heading-properties">
                            <h3 class="panel-title">{{product.name}}</h3>
                            <i class="fa fa-eye" ng-click="viewProduct(product)"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
