<div class="user-list">
    <div class="page-title">
        <div class="title-env">
            <h1 class="title">Service List</h1>
            <p class="description">
                View/Edit Service from the list of Services
            </p>
        </div>
    </div>
    <div class="row search-box">
        <div class="col-sm-6">
            <button class="btn btn-default btn-info" class="btn btn-default btn-info" ui-manage-sequence-modal list="services">Manage Sequence</button>
        </div>
        <div class="col col-sm-6">
            <form class="form-horizontal" ng-submit="searchUser()">
                <div class="form-group">
                    <label class="col-sm-4 control-label">Email</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="search" data-ng-model="searchText.value" placeholder="Press Enter to Search by Email" ng-keyup="searchUserForNull()">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="page-content overflow-reset" ng-init="loadServices()">{{}}
        <!-- <div ng-show="!services.length" class="nothing-found">No services found.</div> -->
        <table ng-show="services.length" class="table table-hover table-bordered user-table">
            <thead class="table-title">
                <th class="sorting" ng-class="{'sorting-asc':isAsc===true,'sorting-desc':isAsc===false}" xng-click="sort()">Name</th>
                <th>Description</th>
                <th>Custom Clean</th>
                <th>Promoted</th>
                <th>Action</th>
            </thead>
            <tbody class="table-content">
                <tr ng-repeat="service in services | startFrom:currentPage*pageSize | limitTo:pageSize" class="table-row">
                    <td>{{service.name}}</td>
                    <td>{{service.description}}</td>
                    <td>{{service.isCustomClean}}</td>
                    <td>{{service.isPromoted}}</td>
                    <td class="view-icon"><i class="fa fa-eye" ng-click="viewService(service)"></i></td>
                </tr>
            </tbody>
        </table>
        <div class="pull-right">
            <button class="btn btn-default btn-info" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
                Previous
            </button>
            <button class="btn btn-default btn-info" ng-disabled="currentPage >= services.length/pageSize - 1" ng-click="currentPage=currentPage+1">
                Next
            </button>
        </div>
    </div>
</div>
