<div class="page-title">
  <div class="title-env">
    <h1 class="title">Product Details</h1>
    <p class="description">
      View/Edit/Delete service details
    </p>
  </div>
  <div class="breadcrumb-env add-new-agenda-wrapper">
    <!-- <button class="btn btn-red btn-icon" xng-click="openLoanDeleteModal()">
            <i class="fa-trash"></i>
            <span>&nbsp;Remove Product</span>
        </button> -->
  </div>
</div>
<div class="page-content overflow-reset" ng-init="loadProduct()">
  <form role="form" class="form-horizontal" name="service" ui-form="editService">
    <div class="panel panel-default mb0">
      <div class="panel-heading">
        <h3 class="panel-title">Details</h3>
        <div class="panel-options" ng-hide="mode">
          <a ng-click="modeManager(true)"> <i class="fa fa-pencil"></i>
          </a>
        </div>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label class="col-sm-2 control-label" for="time">Product Name</label>
              <div class="col-sm-10">
                <input ng-disabled="!mode" ng-class="{'error':product.time.$invalid && product.time.$dirty}" type="text" class="form-control input-dark" datetime-picker="dd MMM yyyy" name="time" id="time" placeholder="Enter Name" data-ng-model="product.name" ui-required>
                <label ng-show="mode && product.time.$invalid && product.time.$dirty" id="username-error" class="error-label" for="username">Please Enter Product Name</label>
              </div>
            </div>
          </div>
        </div>
        <div class="row" ng-show="product.options && product.options.length">
          <div class="col-sm-12">
            <div class="form-group">
              <label class="col-sm-2 control-label" for="product_option">Options</label>
              <div class="col-sm-10">
                <div name="product_option" ng-repeat="option in product.options">
                  <h5>{{option.label}}
                  </h5>
                  <div class="input-group add-range" ng-show="mode">
                    <input type="text" ng-model="option.newRange" class="form-control" placeholder="Add Range">
                    <span class="input-group-btn">
                      <button class="btn btn-info" type="button" ng-click="addNewRange(option.range,option.newRange); option.newRange=''">Add</button>
                    </span>
                    <div class="col-sm-6" ng-show="option.range.length>1">
                      <button class="btn btn-default btn-info" class="btn btn-default btn-info" ui-manage-sequence-modal list="option.range" sequence-type='string' keep="{
                      option:option,$index : $index}">Manage Sequence</button>
                    </div>
                  </div>
                  <div class="list-group list-group-minimal">
                    <a class="list-group-item" ng-repeat="range in option.range" ng-class="{'active': range==manageIndex(option)}" ng-click="mode && manageIndex(option,$index)">
                      <!-- <i ng-show="mode" class="fa fa-arrows"></i> -->
                      <!-- <span class="sequence-text"> -->
                      <span ng-bind="range"></span>
                      <i ng-show="mode && range!=manageIndex(option)" class="pull-right fa fa-trash" ng-click="removeOptions(option,$index,$event)"></i>
                      <!-- </span> -->
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group" ng-show="mode">
          <button type="submit" ng-class="{'disabled':loading}" class="btn btn-info btn-single pull-right mr10 ml0">
            <i ng-show="loading" class='fa fa-spin fa-spinner btn-loading-icon mr10'></i>Save
          </button>
          <button ng-show="mode" type="button" ng-class="{'disabled':loading}" class="btn btn-single pull-right mr10 ml0" ng-click="modeManager(false)">
            Reset
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
